.card{
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.20);

    
}
.card,
.card-header,
.card-footer {
    border: none;
    border-radius: 25px;
    
}
.card-header,
.card-footer {
    padding: 1rem .5rem;
    background-color: transparent;
    
}
.card-block {
    padding: 3rem;
}
.card-block,
.card-footer {
    text-align: center
}
p {
    margin:.1rem;
    text-transform: uppercase;
}

img {
    transform: scale(0.5, 0.5);
}
#indicator {
    height: 150px;

}
#indicator i {
    margin-top: 2rem;
}
